.App {
  text-align: center;
  max-width: 650px;
  width: 90%;
  margin: auto;
}

/* List */
.people{
  max-width: 600px;
  width: 90%;
  margin: auto;
}
.people h1{
  text-align: center;
  margin: auto;
  width: 80%;
}


input{
    width: 450px;
    padding: 0.5em;
    margin: 2em auto;
    border: 3px solid blue;
    border-radius: 0.45em;
    font-weight: 600;
    font-size: 1.5rem;
}
input:focus{
  outline: none;
}


.list{
  margin:1em auto;
  max-width: 500px;
  width: 90%;
  justify-content: space-between;
}
.list h2{
  width: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 500;
}

